.main {
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  max-height: 100%;
}
.header {
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 10px 20px;
}
.dayCollum {
  width: 60px;
}
.disheCollum {
  width: 160px;
  align-items: center;
}
.titleCollum {
  flex: 1;
}
.calendar {
  width: 100%;
  overflow-y: scroll;
}
.titleText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
