.container {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  margin: 28px;
  color: rgb(41, 41, 41);
  font-weight: 600;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px, rgba(0, 0, 0, 0.1) 0px 4px 2px,
    rgba(0, 0, 0, 0.1) 0px 8px 4px, rgba(0, 0, 0, 0.1) 0px 16px 8px,
    rgba(0, 0, 0, 0.1) 0px 32px 16px;
}
.titleDiv {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.img {
  width: 100%;
}
.separator {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  border: none;
}
.link {
  padding: 8px 16px;
  text-align: center;
  width: 80%;
  border-radius: 24px;
  cursor: pointer;
  margin: 0 auto;
  border: 1px #52cc62 solid;
  background-color: #52cc62;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #f0f0f0;
}
.link:hover {
  background-color: #f0f0f0;
  box-shadow: none;
  color: #52cc62;
}
.icon {
  position: absolute;
  top: -15px;
  left: -15px;
  height: 60px;
  background-color: #52cc62;
  border-radius: 50%;
  padding: 10px;
}
