.header {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  padding: 20px;
  border-bottom-width: 2px;
  border-color: #666;
  z-index: 1;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16))
    drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.23));
}
.logo {
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 54px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  align-items: center;
  justify-content: end;
}
.logo_img {
  width: 120px;
}
.icon {
  height: 38px;
}
